[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=MxUpload
Exec=sudo python /home/pi/IrvineUploadver2/MxUpload/UploadProgram.pyw
Terminal=false
Icon=/home/pi/IrvineUploadver2/MxUpload/icons/logo.ico
Type=Application
Categories=None;
